<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css", "~/Content/kendo")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Taste it!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="row">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                                Home
                                <strong class="caret"></strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("About", "About", "Home", new { area = string.Empty }, null)</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = string.Empty }, null)</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Recipes", "Index", "Recipes", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Ingredients", "Index", "Ingredients", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Articles", "Index", "Articles", new { area = string.Empty }, null)</li>

                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrator"))

                        {

                            <li>@Html.ActionLink("Manage App", "Index", "ManageSite", new { area = "Administration" }, null)</li>

                        }
                    </ul>

                    @*
                        <div class="col-md-3 hidden-sm navbar-left search-form">
                            <form class="navbar-form" role="search" action="/Search/Results">
                                <div class="input-group">
                                    <input type="text" class="form-control search-box" placeholder="Search" name="searchTerm" id="searchTerm">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default btn-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    *@
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="jumbotron">
            @if (this.TempData["Notification"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @this.TempData["Notification"]
                </div>
            }
            @RenderBody()
        </div>
        <footer class="panel-footer">
            All rights reserved &copy; @DateTime.Now.Year Telerik Academy
            <br /><strong>Taste It</strong> - ASP.NET MVC Application
        </footer>

    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
