@model TasteIt.Web.Models.Ingredient.AlphabeticalPagingViewModel
@{
    ViewBag.Title = "Ingredient";
}

<h1 class="text-center">Learn About Ingredients with<i class="logo">Taste It!</i></h1>
<hr />


@if (this.User.Identity.IsAuthenticated)
{
    <h4>@Html.ActionLink("Create New Ingredient", "Create", null, new { @class = "btn btn-primary" })</h4>
}


<div class="text-center">
    <ul class="pagination alpha">
        @foreach (var link in Model.Alphabet)
            {
                if (Model.FirstLetters.Contains(link) || link == "All")
                {
                    if (Model.SelectedLetter == link || Model.SelectedLetter.IsEmpty() && link == "All")
                    {
                    <li class="active"><span>@link</span></li>
                }
                else
                {
                    <li>@Html.ActionLink(link, "Index", new { selectedLetter = link })</li>
                }
            }
            else
            {
                <li class="inactive"><span>@link</span></li>
            }
        }
    </ul>

    @Html.Partial("_IngredientPartial")
</div>
