@model TasteIt.Web.Models.Article.ArticleListViewModel
@{
    ViewBag.Title = "Articles";
}

<div class="jumbotron">
    <h1 class="text-center">Food Articles with <i class="logo">Taste It!</i></h1>
    <hr />

    <div class="row">
        @foreach (var article in Model.Articles)
        {
            <div class="col-md-4 text-center">
                <div class="container-articles">
                    <h4 class="section-subtitles"><strong>@Html.ActionLink(article.Title, "/Details/" + article.Url, "Articles")</strong></h4>
                    <h4><strong><i>Category: </i>@article.Category</strong></h4>
                    <p><span class="glyphicon glyphicon-calendar"></span> @article.CreatedOn</p>
                    <img src="@article.ArticleImage" class="images-home" />
                </div>
            </div> 
        }
    </div>

   @Html.Partial("_PagingPartial")
</div>
