@model IEnumerable<TasteIt.Data.Models.Article>
@{
    ViewBag.Title = "Home Page";
}

<div class="slide-container">
    <ul class="bxslider">
        <li>
            @Html.ActionLink("Ingredients", "Index", "Ingredients", new { area = "" }, new { @class = "navbar-brand" })
            <img class="home-page-image" src="~/Images/Ingredients.jpg" title="Ingredients" />
        </li>
        <li>
            @Html.ActionLink("Recipes", "Index", "Recipes", new { area = "" }, new { @class = "navbar-brand" })
            <img class="home-page-image" src="~/Images/Recipe.jpg" title="Recipes" />
        </li>
        <li>
            @Html.ActionLink("Articles", "Index", "Articles", new { area = "" }, new { @class = "navbar-brand" })
            <img class="home-page-image" src="~/Images/Article.png" title="Articles" />
        </li>
    </ul>
</div>

<div class="jumbotron">
    <h1>Latest Articles</h1>
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-md-4">
                <p class="text-center"><strong>@article.Title</strong></p>
                <p class="text-center">@article.CreatedOn</p>
                <img src="@article.ArticleImage"/>
            </div>
        }
    </div>
</div>

<script>
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true,
        auto:true
    });
</script>
